<?xml version="1.0" encoding="utf-8" ?>
<ControlersConfiguration>
  <Controlers>
    <Controler ControlerType="KRC2">
      <FilesToCopy>
        <FilesFilter Destination="Program" Type="Program">
          <FilesExtension>
             <Extension>.src</Extension>
            <Extension>.dat</Extension>
          </FilesExtension>         

          <ContainNames>
            <ContainName>Spot</ContainName>
            <ContainName>Stud</ContainName>
            <ContainName>Glue</ContainName>
            <ContainName>Pick</ContainName>
            <ContainName>Drop</ContainName>
            <ContainName>Center</ContainName>
            <ContainName>Arc</ContainName>
            <ContainName>Clinch</ContainName>
            <ContainName>Flow</ContainName>
            <ContainName>Rivet</ContainName>
            <ContainName>Nut</ContainName>
            <ContainName>Fasten</ContainName>
            <ContainName>Hem</ContainName>
            <ContainName>Laser</ContainName>
            <ContainName>Search</ContainName>
            <ContainName>Stack</ContainName>
            <ContainName>Spray</ContainName>
            <ContainName>Fit</ContainName>
            <ContainName>Inline</ContainName>
            <ContainName>Check</ContainName>
            <ContainName>Stamp</ContainName>
            <ContainName>Scan</ContainName>
            <ContainName>Vrtfx</ContainName>
          </ContainNames>
          
        </FilesFilter>
        
        <FilesFilter Destination="BMW_Std_User" Type="Service">
          <FilesExtension>
            <Extension>.src</Extension>
            <Extension>.dat</Extension>
          </FilesExtension>
          
          <ContainNames>
            <ContainName>Maintenan</ContainName>
            <ContainName>Dock</ContainName>
            <ContainName>Braketest</ContainName>
            <ContainName>Change</ContainName>
            <ContainName>Dress</ContainName>
            <ContainName>Tch_Auto</ContainName>
          </ContainNames>
        </FilesFilter>
      </FilesToCopy>

      <DataToCopy>
        <FilesFilter Type="Olp" Destination="OLP">
          <FilesExtension>
              <Extension>.olp</Extension>
          </FilesExtension>
          <ContainNames>
            <ContainName>Maintenan</ContainName>
            <ContainName>Dock</ContainName>
            <ContainName>Braketest</ContainName>
            <ContainName>Change</ContainName>
            <ContainName>Dress</ContainName>
            <ContainName>Tch_Auto</ContainName>
          </ContainNames>        
          
        </FilesFilter>     
      </DataToCopy>

      <FilesToRemove>
        <FilesFilter>
          <FilesExtension>
            <Extension>.log</Extension>
          </FilesExtension>
        </FilesFilter>
      </FilesToRemove>
      
    </Controler>
    <Controler ControlerType="KRC4"/>
  </Controlers>  
</ControlersConfiguration>


   

  

