<?xml version="1.0" encoding="utf-8" ?>
<ControlersConfiguration 
xmlns ="RobotFilesEditor"    
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="RobotFilesEditor ConfigurationSchema.xsd"

DestinationPath="C:\Users\ajergas\Documents\"
SourcePath="C:\Users\ajergas\Downloads\KUKA Organizer\Przykładowe pliki do obrobienia\KRC2"
>
  <ContorolersArray>
    <Controler ControlerType="KRC2">
      <FileOperationsArray>
        <FileOperation
              OperationName="Move program files"
              ActionType="Copy"
              DestinationFolder="Program"
              Priority="0"                           
          >
          <Filter RegexContain=""
                  RegexNotContain="^A\d{2}_*\.*">
            <ContainArray>
              <Contain>Spot</Contain>
              <Contain>Stud</Contain>
              <Contain>Glue</Contain>
              <Contain>Pick</Contain>
              <Contain>Drop</Contain>
              <Contain>Center</Contain>
              <Contain>Arc</Contain>
              <Contain>Clinch</Contain>
              <Contain>Flow</Contain>
              <Contain>Rivet</Contain>
              <Contain>Nut</Contain>
              <Contain>Fasten</Contain>
              <Contain>Hem</Contain>
              <Contain>Laser</Contain>
              <Contain>Search</Contain>
              <Contain>Stack</Contain>
              <Contain>Spray</Contain>
              <Contain>Fit</Contain>
              <Contain>Inline</Contain>
              <Contain>Check</Contain>
              <Contain>Stamp</Contain>
              <Contain>Scan</Contain>
              <Contain>Vrtfx</Contain>
            </ContainArray>
            <NotContainArray>
              <NotContain>_global</NotContain>
            </NotContainArray>
          </Filter>
          <FilesExtensionArray>
            <FilesExtension>.src</FilesExtension>
            <FilesExtension>.dat</FilesExtension>
          </FilesExtensionArray>
        </FileOperation>
        <FileOperation
              OperationName="Move services files"
              ActionType="Copy"
              DestinationFolder="BMW_Std_User"
              Priority="0"             
          >
          <Filter RegexContain=""
                  RegexNotContain=""
                  >
            <ContainArray>
              <Contain>Maintenan</Contain>
              <Contain>Dock</Contain>
              <Contain>Braketest</Contain>
              <Contain>Change</Contain>
              <Contain>Dress</Contain>
              <Contain>Tch_Auto</Contain>
            </ContainArray>
            <NotContainArray>
              <NotContain>_global</NotContain>
            </NotContainArray>
          </Filter>
          <FilesExtensionArray>
            <FilesExtension>.src</FilesExtension>
            <FilesExtension>.dat</FilesExtension>
          </FilesExtensionArray>
        </FileOperation>
        <FileOperation
              OperationName="Copy OLP files data"
              ActionType="CopyData"
              DestinationFolder="Olp"
              Priority="0"             
          >          
          <FilesExtensionArray>            
            <FilesExtension>.olp</FilesExtension>
          </FilesExtensionArray>
        </FileOperation>
        
        <FileOperation
              OperationName="Copy global data to GlobalBase"
              ActionType="CopyData"
              DestinationFolder="BMW_Std"
              Priority="2"             
          >
          <Filter RegexContain="^A\d{2}_.*_global"
              RegexNotContain="">
            <ContainArray>              
              <Contain>tch_</Contain>
            </ContainArray>          
          </Filter>
          <FilesExtensionArray>            
            <FilesExtension>.dat</FilesExtension>
          </FilesExtensionArray>
        </FileOperation>
        <FileOperation
             OperationName="Copy global data to GlobalBase"
             ActionType="CopyData"
             DestinationFolder="BMW_Std"
             Priority="3"
            
          >
          <Filter RegexContain="^A\d{2}_.*_global"
              RegexNotContain="">
            <ContainArray>
              <Contain>grp_</Contain>
            </ContainArray>
          </Filter>
          <FilesExtensionArray>
            <FilesExtension>.dat</FilesExtension>
          </FilesExtensionArray>
        </FileOperation>
        <FileOperation
             OperationName="Copy global data to GlobalBase"
             ActionType="CopyData"
             DestinationFolder="BMW_Std"
             Priority="4"
            
          >
          <Filter RegexContain="^A\d{2}_.*_global"
              RegexNotContain="">
            <ContainArray>            
              <Contain>swp_</Contain>
            </ContainArray>
          </Filter>
          <FilesExtensionArray>
            <FilesExtension>.dat</FilesExtension>
          </FilesExtensionArray>
        </FileOperation>
        <FileOperation
             OperationName="Copy global data to GlobalBase"
             ActionType="CopyData"
             DestinationFolder="BMW_Std"
             Priority="8"
            
          >
          <Filter RegexContain="^A\d{2}_.*_global"
              RegexNotContain="">
            <ContainArray>
              <Contain>_global</Contain>
              <Contain>gl_</Contain>
            </ContainArray>
          </Filter>
          <FilesExtensionArray>
            <FilesExtension>.dat</FilesExtension>
          </FilesExtensionArray>
        </FileOperation>
        <FileOperation
             OperationName="Copy global data to GlobalBase"
             ActionType="CopyData"
             DestinationFolder="BMW_Std"
             Priority="13"
            
          >
          <Filter RegexContain="^A\d{2}_.*_global"
              RegexNotContain="">
            <ContainArray>
              <Contain>_global</Contain>
              <Contain>rvt_</Contain>
            </ContainArray>
          </Filter>
          <FilesExtensionArray>
            <FilesExtension>.dat</FilesExtension>
          </FilesExtensionArray>
        </FileOperation>
        <FileOperation
             OperationName="Copy global data to GlobalBase"
             ActionType="CopyData"
             DestinationFolder="BMW_Std"
             Priority="20"
            
          >
          <Filter RegexContain="^A\d{2}_.*_global"
              RegexNotContain="">
            <ContainArray>
              <Contain>_global</Contain>
              <Contain>swh_</Contain>
            </ContainArray>
          </Filter>
          <FilesExtensionArray>
            <FilesExtension>.dat</FilesExtension>
          </FilesExtensionArray>
        </FileOperation>      
        <FileOperation
            OperationName="Copy global data to GlobalBase"
            ActionType="CopyData"
            DestinationFolder="BMW_Std"
            Priority="22"
           
          >
          <Filter RegexContain="^A\d{2}_.*_global"
              RegexNotContain="">
            <ContainArray>
              <Contain>_global</Contain>
              <Contain>fls_</Contain>
            </ContainArray>
          </Filter>
          <FilesExtensionArray>
            <FilesExtension>.dat</FilesExtension>
          </FilesExtensionArray>
        </FileOperation>
        
        <FileOperation
              OperationName="Remove LOGs files"
              ActionType="Remove"
              DestinationFolder=""
              Priority="0"
             
          >
          <FilesExtensionArray>
            <FilesExtension>.log</FilesExtension>
          </FilesExtensionArray>
        </FileOperation>
      </FileOperationsArray>
        
      <DataOperationsArray>
        <DataOperation
           FileOperationName="Copy OLP files data"
           Priority="0"
           ActionType="CopyData"
           DestinationFilePath=""
           DestinationFileSource="InputData.src"
           FileHeader="DEF InputData()"
           FileFooter="END"
           GroupSpace="0"
           WriteStart=""
           WriteStop=""
           SortType="OrderByVariable"
           DetectDuplicates="true"
		        >
          <DataFilterGroupsArray>
            <DataFilterGroup GroupHeader=":HOMES"
                             GroupFooter=""
                             SpaceBeforGroup="0"
                             SpaceAfterGroup="4"
                             OnlyRegex="true"
                                 >
              <Filter RegexContain="[a-zA-Z]+[a-zA-Z0-9_]*[\[0-9\],]*=\{*.+\}*"
                      RegexNotContain="">
                <ContainArray>
                  <Contain>XHOME</Contain>
                </ContainArray>
              </Filter>
            </DataFilterGroup>
            <DataFilterGroup GroupHeader=":TOOLS"
                             GroupFooter=""
                             SpaceBeforGroup="0"
                             SpaceAfterGroup="0"
                                 >
              <Filter RegexContain=""
                      RegexNotContain="">
                <ContainArray>
                  <Contain>TOOL_DATA</Contain>
                  <Contain>TOOL_NAME</Contain>
                  <Contain>TOOL_TYPE</Contain>
                </ContainArray>              
              </Filter>
            </DataFilterGroup>
            <DataFilterGroup GroupHeader=":BASES"
                             GroupFooter=""
                             SpaceBeforGroup="0"
                             SpaceAfterGroup="0"
                                 >
              <Filter RegexContain=""
                      RegexNotContain="">
                <ContainArray>
                  <Contain>BASE_DATA</Contain>
                  <Contain>BASE_NAME</Contain>
                  <Contain>BASE_TYPE</Contain>
                </ContainArray>              
              </Filter>
            </DataFilterGroup>
          </DataFilterGroupsArray>
        </DataOperation>
        <DataOperation FileOperationName="Copy global data to GlobalBase"
                       Priority="2"
                       ActionType="CopyData"
                       DestinationFilePath=""
                       DestinationFileSource="Resources\GlobalFiles\KRC2\A02_tch_global.dat"
                       FileHeader=""
                       FileFooter=""
                       GroupSpace="0"
                       WriteStart=""
                       WriteStop="ENDDAT"   
                       DetectDuplicates="true"
          >
          <DataFilterGroupsArray>
            <DataFilterGroup GroupHeader=""
                             GroupFooter=""
                             SpaceBeforGroup="0"
                             SpaceAfterGroup="1"
                             OnlyRegex="true"
                                 >
              <Filter RegexContain="[a-zA-Z]+[a-zA-Z0-9_]*[\[0-9\],]*=\{*.+\}*"
                      RegexNotContain="">               
              </Filter>
            </DataFilterGroup>
          </DataFilterGroupsArray>          
        </DataOperation>
        <DataOperation FileOperationName="Copy global data to GlobalBase"
                       Priority="3"
                       ActionType="CopyData"
                       DestinationFilePath=""
                       DestinationFileSource="Resources\GlobalFiles\KRC2\A03_grp_global.dat"
                       FileHeader=""
                       FileFooter=""
                       GroupSpace="0"
                       WriteStart=""
                       WriteStop="ENDDAT"    
                       DetectDuplicates="true"
          >
          <DataFilterGroupsArray>
            <DataFilterGroup GroupHeader=""
                             GroupFooter=""
                             SpaceBeforGroup="0"
                             SpaceAfterGroup="1"
                             OnlyRegex="true"
                                 >
              <Filter RegexContain="[a-zA-Z]+[a-zA-Z0-9_]*[\[0-9\],]*=\{*.+\}*"
                      RegexNotContain="">               
              </Filter>
            </DataFilterGroup>
          </DataFilterGroupsArray>
        </DataOperation>
        <DataOperation FileOperationName="Copy global data to GlobalBase"
                       Priority="4"
                       ActionType="CopyData"
                       DestinationFilePath=""
                       DestinationFileSource="Resources\GlobalFiles\KRC2\A04_swp_global.dat"
                       FileHeader=""
                       FileFooter=""
                       GroupSpace="0"
                       WriteStart=""
                       WriteStop="ENDDAT"
                       DetectDuplicates="true"
          >
          <DataFilterGroupsArray>
            <DataFilterGroup GroupHeader=""
                             GroupFooter=""
                             SpaceBeforGroup="0"
                             SpaceAfterGroup="1"
                             OnlyRegex="true"
                                 >
              <Filter RegexContain="[a-zA-Z]+[a-zA-Z0-9_]*[\[0-9\],]*=\{*.+\}*"
                      RegexNotContain="">
              </Filter>
            </DataFilterGroup>
          </DataFilterGroupsArray>
        </DataOperation>
        <DataOperation FileOperationName="Copy global data to GlobalBase"
                       Priority="8"
                       ActionType="CopyData"
                       DestinationFilePath=""
                       DestinationFileSource="Resources\GlobalFiles\KRC2\A08_gl_global.dat"
                       FileHeader=""
                       FileFooter=""
                       GroupSpace="0"
                       WriteStart=""
                       WriteStop="ENDDAT"
                       DetectDuplicates="true"
          >
          <DataFilterGroupsArray>
            <DataFilterGroup GroupHeader=""
                             GroupFooter=""
                             SpaceBeforGroup="0"
                             SpaceAfterGroup="1"
                             OnlyRegex="true"
                                 >
              <Filter RegexContain="[a-zA-Z]+[a-zA-Z0-9_]*[\[0-9\],]*=\{*.+\}*"
                      RegexNotContain="">
              </Filter>
            </DataFilterGroup>
          </DataFilterGroupsArray>
        </DataOperation>
        <DataOperation FileOperationName="Copy global data to GlobalBase"
                      Priority="13"
                      ActionType="CopyData"
                      DestinationFilePath=""
                      DestinationFileSource="Resources\GlobalFiles\KRC2\A13_rvt_global.dat"
                      FileHeader=""
                      FileFooter=""
                      GroupSpace="0"
                      WriteStart=""
                      WriteStop="ENDDAT"
                      DetectDuplicates="true"
          >
          <DataFilterGroupsArray>
            <DataFilterGroup GroupHeader=""
                             GroupFooter=""
                             SpaceBeforGroup="0"
                             SpaceAfterGroup="1"
                             OnlyRegex="true"
                                 >
              <Filter RegexContain="[a-zA-Z]+[a-zA-Z0-9_]*[\[0-9\],]*=\{*.+\}*"
                      RegexNotContain="">              
              </Filter>
            </DataFilterGroup>
          </DataFilterGroupsArray>
        </DataOperation>
        <DataOperation FileOperationName="Copy global data to GlobalBase"
                      Priority="20"
                      ActionType="CopyData"
                      DestinationFilePath=""
                      DestinationFileSource="Resources\GlobalFiles\KRC2\A20_swh_global.dat"
                      FileHeader=""
                      FileFooter=""
                      GroupSpace="0"
                      WriteStart=""
                      WriteStop="ENDDAT"
                      DetectDuplicates="true"
          >
          <DataFilterGroupsArray>
            <DataFilterGroup GroupHeader=""
                             GroupFooter=""
                             SpaceBeforGroup="0"
                             SpaceAfterGroup="1"
                             OnlyRegex="true"
                                 >
              <Filter RegexContain="[a-zA-Z]+[a-zA-Z0-9_]*[\[0-9\],]*=\{*.+\}*"
                      RegexNotContain="">              
              </Filter>
            </DataFilterGroup>
          </DataFilterGroupsArray>
        </DataOperation>
        <DataOperation FileOperationName="Copy global data to GlobalBase"
                     Priority="22"
                     ActionType="CopyData"
                     DestinationFilePath=""
                     DestinationFileSource="Resources\GlobalFiles\KRC2\A22_fls_global.dat"
                     FileHeader=""
                     FileFooter=""
                     GroupSpace="0"
                     WriteStart=""
                     WriteStop="ENDDAT"  
                     DetectDuplicates="true"
          >
          <DataFilterGroupsArray>
            <DataFilterGroup GroupHeader=""
                             GroupFooter=""
                             SpaceBeforGroup="0"
                             SpaceAfterGroup="1"
                             OnlyRegex="true"
                                 >
              <Filter RegexContain="[a-zA-Z]+[a-zA-Z0-9_]*[\[0-9\],]*=\{*.+\}*"
                      RegexNotContain="">             
              </Filter>
            </DataFilterGroup>
          </DataFilterGroupsArray>
        </DataOperation>
     </DataOperationsArray>               
    </Controler>
    <Controler ControlerType="KRC4"> 
        <FileOperationsArray>      
          <FileOperation
                OperationName="Move program files"
                ActionType="Copy"
                DestinationFolder="BMW_Program"
                Priority="0"               
            >
            <Filter RegexContain=""
                    RegexNotContain="^A\d{2}_*\.*">
              <ContainArray>
                <Contain>Spot</Contain>
                <Contain>Stud</Contain>
                <Contain>Glue</Contain>
                <Contain>Pick</Contain>
                <Contain>Drop</Contain>
                <Contain>Center</Contain>
                <Contain>Arc</Contain>
                <Contain>Clinch</Contain>
                <Contain>Flow</Contain>
                <Contain>Rivet</Contain>
                <Contain>Nut</Contain>
                <Contain>Fasten</Contain>
                <Contain>Hem</Contain>
                <Contain>Laser</Contain>
                <Contain>Search</Contain>
                <Contain>Stack</Contain>
                <Contain>Spray</Contain>
                <Contain>Fit</Contain>
                <Contain>Inline</Contain>
                <Contain>Check</Contain>
                <Contain>Stamp</Contain>
                <Contain>Scan</Contain>
                <Contain>Vrtfx</Contain>
              </ContainArray>
              <NotContainArray>
                <NotContain>_global</NotContain>
              </NotContainArray>
            </Filter>
            <FilesExtensionArray>
              <FilesExtension>.src</FilesExtension>
              <FilesExtension>.dat</FilesExtension>
            </FilesExtensionArray>
          </FileOperation> 
          
          <FileOperation
                OperationName="Move services files"
                ActionType="Copy"
                DestinationFolder="BMW_Utilities"
                Priority="0"
            >
            <Filter RegexContain=""
                RegexNotContain="">
              <ContainArray>
                <Contain>Maintenan</Contain>
                <Contain>Dock</Contain>
                <Contain>Braketest</Contain>
                <Contain>Change</Contain>
                <Contain>Dress</Contain>
                <Contain>Tch_Auto</Contain>
              </ContainArray>
              <NotContainArray>
                <NotContain>_global</NotContain>
              </NotContainArray>
            </Filter>
            <FilesExtensionArray>
              <FilesExtension>.src</FilesExtension>
              <FilesExtension>.dat</FilesExtension>
            </FilesExtensionArray>
          </FileOperation>
          <FileOperation
                OperationName="Move services files"
                ActionType="Move"
                DestinationFolder="BMW_Utilities\Docking"
                Priority="1"
                NestedSourcePath="BMW_Utilities"
            >
            <Filter RegexContain=""
                RegexNotContain="^A04.*">
              <ContainArray>
                <Contain>Dock</Contain>
                <Contain>Tch_Auto</Contain>
              </ContainArray>              
            </Filter>
            <FilesExtensionArray>
              <FilesExtension>.src</FilesExtension>
              <FilesExtension>.dat</FilesExtension>
            </FilesExtensionArray>
          </FileOperation> 
          
          <FileOperation
                OperationName="Copy OLP files data"
                ActionType="CopyData"
                DestinationFolder="Olp"
                Priority="0"              
            >
            <FilesExtensionArray>
              <FilesExtension>.olp</FilesExtension>             
            </FilesExtensionArray>
          </FileOperation>
          
          <FileOperation
              OperationName="Copy global data to GlobalBase"
              ActionType="CopyData"
              DestinationFolder="BMW_App"
              Priority="2"             
          >
            <Filter RegexContain="^A\d{2}_.*_global"
                RegexNotContain="">
              <ContainArray>
                <Contain>tch_</Contain>
              </ContainArray>
            </Filter>
            <FilesExtensionArray>
              <FilesExtension>.dat</FilesExtension>
            </FilesExtensionArray>
          </FileOperation>
          <FileOperation
               OperationName="Copy global data to GlobalBase"
               ActionType="CopyData"
               DestinationFolder="BMW_App"
               Priority="3"              
          >
            <Filter RegexContain="^A\d{2}_.*_global"
                RegexNotContain="">
              <ContainArray>
                <Contain>grp_</Contain>
              </ContainArray>
            </Filter>
            <FilesExtensionArray>
              <FilesExtension>.dat</FilesExtension>
            </FilesExtensionArray>
          </FileOperation>
          <FileOperation
               OperationName="Copy global data to GlobalBase"
               ActionType="CopyData"
               DestinationFolder="BMW_App"
               Priority="4"              
          >
            <Filter RegexContain="^A\d{2}_.*_global"
                RegexNotContain="">
              <ContainArray>
                <Contain>swp_</Contain>
              </ContainArray>
            </Filter>
            <FilesExtensionArray>
              <FilesExtension>.dat</FilesExtension>
            </FilesExtensionArray>
          </FileOperation>
          <FileOperation
               OperationName="Copy global data to GlobalBase"
               ActionType="CopyData"
               DestinationFolder="BMW_App"
               Priority="8"              
          >
            <Filter RegexContain="^A\d{2}_.*_global"
                RegexNotContain="">
              <ContainArray>
                <Contain>gl_</Contain>
              </ContainArray>
            </Filter>
            <FilesExtensionArray>
              <FilesExtension>.dat</FilesExtension>
            </FilesExtensionArray>
          </FileOperation>
          <FileOperation
               OperationName="Copy global data to GlobalBase"
               ActionType="CopyData"
               DestinationFolder="BMW_App"
               Priority="13"              
          >
            <Filter RegexContain="^A\d{2}_.*_global"
                RegexNotContain="">
              <ContainArray>
                <Contain>rvt_</Contain>
              </ContainArray>
            </Filter>
            <FilesExtensionArray>
              <FilesExtension>.dat</FilesExtension>
            </FilesExtensionArray>
          </FileOperation>
          <FileOperation
               OperationName="Copy global data to GlobalBase"
               ActionType="CopyData"
               DestinationFolder="BMW_App"
               Priority="15"              
          >
            <Filter RegexContain="^A\d{2}_.*_global"
                RegexNotContain="">
              <ContainArray>                
                <Contain>ljt_</Contain>
              </ContainArray>
            </Filter>
            <FilesExtensionArray>
              <FilesExtension>.dat</FilesExtension>
            </FilesExtensionArray>
          </FileOperation>
          <FileOperation
               OperationName="Copy global data to GlobalBase"
               ActionType="CopyData"
               DestinationFolder="BMW_App"
               Priority="18"              
          >
            <Filter RegexContain="^A\d{2}_.*_global"
                RegexNotContain="">
              <ContainArray>
                <Contain>rvo_</Contain>
              </ContainArray>
            </Filter>
            <FilesExtensionArray>
              <FilesExtension>.dat</FilesExtension>
            </FilesExtensionArray>
          </FileOperation>
          <FileOperation
               OperationName="Copy global data to GlobalBase"
               ActionType="CopyData"
               DestinationFolder="BMW_App"
               Priority="19"              
          >
            <Filter RegexContain="^A\d{2}_.*_global"
                RegexNotContain="">
              <ContainArray>
                <Contain>cli_</Contain>
              </ContainArray>
            </Filter>
            <FilesExtensionArray>
              <FilesExtension>.dat</FilesExtension>
            </FilesExtensionArray>
          </FileOperation>          
          <FileOperation
               OperationName="Copy global data to GlobalBase"
               ActionType="CopyData"
               DestinationFolder="BMW_App"
               Priority="20"              
          >
            <Filter RegexContain="^A\d{2}_.*_global"
                RegexNotContain="">
              <ContainArray>
                <Contain>swh_</Contain>
              </ContainArray>
            </Filter>
            <FilesExtensionArray>
              <FilesExtension>.dat</FilesExtension>
            </FilesExtensionArray>
          </FileOperation>
          <FileOperation
              OperationName="Copy global data to GlobalBase"
              ActionType="CopyData"
              DestinationFolder="BMW_App"
              Priority="22"             
          >
            <Filter RegexContain="^A\d{2}_.*_global"
                RegexNotContain="">
              <ContainArray>             
                <Contain>fls_</Contain>
              </ContainArray>
            </Filter>
            <FilesExtensionArray>
              <FilesExtension>.dat</FilesExtension>
            </FilesExtensionArray>
          </FileOperation>
          <FileOperation
             OperationName="Copy global data to GlobalBase"
             ActionType="CopyData"
             DestinationFolder="BMW_App"
             Priority="27"            
          >
            <Filter RegexContain="^A\d{2}_.*_global"
                RegexNotContain="">
              <ContainArray>
                <Contain>brt_</Contain>
              </ContainArray>
            </Filter>
            <FilesExtensionArray>
              <FilesExtension>.dat</FilesExtension>
            </FilesExtensionArray>
          </FileOperation>
          <FileOperation
         OperationName="Copy global data to GlobalBase"
         ActionType="CopyData"
         DestinationFolder="BMW_App"
         Priority="28"        
          >
            <Filter RegexContain="^A\d{2}_.*_global"
                RegexNotContain="">
              <ContainArray>
                <Contain>scr_</Contain>
                <Contain>screw_</Contain>
              </ContainArray>
            </Filter>
            <FilesExtensionArray>
              <FilesExtension>.dat</FilesExtension>
            </FilesExtensionArray>
          </FileOperation>  
          
          <FileOperation
                OperationName="Remove LOGs files"
                ActionType="Remove"
                DestinationFolder=""
                Priority="0"               
            >          
            <FilesExtensionArray>
              <FilesExtension>.log</FilesExtension>
            </FilesExtensionArray>
          </FileOperation>
         </FileOperationsArray>
        
         <DataOperationsArray>                       
           <DataOperation
                FileOperationName="Copy OLP files data"
                Priority="0"
                ActionType="CopyData"
                DestinationFilePath=""
                DestinationFileSource="InputData.src"
                FileHeader="DEF InputData()"
                FileFooter="END"
                GroupSpace="0"
                WriteStart=""
                WriteStop=""
                SortType="OrderByVariable"
                DetectDuplicates="true"
		        >
              <DataFilterGroupsArray>
                <DataFilterGroup GroupHeader=":HOMES"
                                 GroupFooter=""
                                 SpaceBeforGroup="0"
                                 SpaceAfterGroup="4"
                                 >
                  <Filter RegexContain=""
                          RegexNotContain="">
                    <ContainArray>
                      <Contain>XHOME</Contain>
                    </ContainArray>                   
                  </Filter>                  
                </DataFilterGroup>

                <DataFilterGroup GroupHeader=":TOOLS"
                                 GroupFooter=""
                                 SpaceBeforGroup="0"
                                 SpaceAfterGroup="0"
                                 >
                  <Filter RegexContain=""
                          RegexNotContain="">
                    <ContainArray>
                      <Contain>TOOL_DATA</Contain> 
                      <Contain>TOOL_NAME</Contain>
                      <Contain>TOOL_TYPE</Contain>                     
                    </ContainArray>                  
                  </Filter>
                </DataFilterGroup>
                
                <DataFilterGroup GroupHeader=":BASES"
                                 GroupFooter=""
                                 SpaceBeforGroup="0"
                                 SpaceAfterGroup="0"
                                 >
                  <Filter RegexContain=""
                          RegexNotContain="">
                    <ContainArray>
                      <Contain>BASE_DATA</Contain>
                      <Contain>BASE_NAME</Contain>
                      <Contain>BASE_TYPE</Contain>
                    </ContainArray>                    
                  </Filter>
                </DataFilterGroup>              
                
              </DataFilterGroupsArray>
          </DataOperation>

           <DataOperation FileOperationName="Copy global data to GlobalBase"
                     Priority="2"
                     ActionType="CopyData"
                     DestinationFilePath=""
                     DestinationFileSource="A02_tch_global.dat"
                     FileHeader=""
                     FileFooter=""
                     GroupSpace="0"
                     WriteStart=""
                     WriteStop="ENDDAT"
                     DetectDuplicates="true"
          >
             <DataFilterGroupsArray>
               <DataFilterGroup GroupHeader=""
                                GroupFooter=""
                                SpaceBeforGroup="0"
                                SpaceAfterGroup="1"
                                OnlyRegex="true"
                                 >
                 <Filter RegexContain="[a-zA-Z]+[a-zA-Z0-9_]*[\[0-9\],]*=\{*.+\}*"
                         RegexNotContain="">
                 </Filter>
               </DataFilterGroup>
             </DataFilterGroupsArray>
           </DataOperation>
           <DataOperation FileOperationName="Copy global data to GlobalBase"
                          Priority="3"
                          ActionType="CopyData"
                          DestinationFilePath=""
                          DestinationFileSource="A03_grp_global.dat"
                          FileHeader=""
                          FileFooter=""
                          GroupSpace="0"
                          WriteStart=""
                          WriteStop="ENDDAT"
                          DetectDuplicates="true"
          >
             <DataFilterGroupsArray>
               <DataFilterGroup GroupHeader=""
                                GroupFooter=""
                                SpaceBeforGroup="0"
                                SpaceAfterGroup="1"
                                OnlyRegex="true"
                                 >
                 <Filter RegexContain="[a-zA-Z]+[a-zA-Z0-9_]*[\[0-9\],]*=\{*.+\}*"
                         RegexNotContain="">
                 </Filter>
               </DataFilterGroup>
             </DataFilterGroupsArray>
           </DataOperation>
           <DataOperation FileOperationName="Copy global data to GlobalBase"
                          Priority="4"
                          ActionType="CopyData"
                          DestinationFilePath=""
                          DestinationFileSource="A04_swp_global.dat"
                          FileHeader=""
                          FileFooter=""
                          GroupSpace="0"
                          WriteStart=""
                          WriteStop="ENDDAT"
                          DetectDuplicates="true"
          >
             <DataFilterGroupsArray>
               <DataFilterGroup GroupHeader=""
                                GroupFooter=""
                                SpaceBeforGroup="0"
                                SpaceAfterGroup="1"
                                OnlyRegex="true"
                                 >
                 <Filter RegexContain="[a-zA-Z]+[a-zA-Z0-9_]*[\[0-9\],]*=\{*.+\}*"
                         RegexNotContain="">
                 </Filter>
               </DataFilterGroup>
             </DataFilterGroupsArray>
           </DataOperation>
           <DataOperation FileOperationName="Copy global data to GlobalBase"
                          Priority="8"
                          ActionType="CopyData"
                          DestinationFilePath=""
                          DestinationFileSource="A08_gl_global.dat"
                          FileHeader=""
                          FileFooter=""
                          GroupSpace="0"
                          WriteStart=""
                          WriteStop="ENDDAT"
          >
             <DataFilterGroupsArray>
               <DataFilterGroup GroupHeader=""
                                GroupFooter=""
                                SpaceBeforGroup="0"
                                SpaceAfterGroup="1"
                                OnlyRegex="true"
                                 >
                 <Filter RegexContain="[a-zA-Z]+[a-zA-Z0-9_]*[\[0-9\],]*=\{*.+\}*"
                         RegexNotContain="">
                 </Filter>
               </DataFilterGroup>
             </DataFilterGroupsArray>
           </DataOperation>
           <DataOperation FileOperationName="Copy global data to GlobalBase"
                         Priority="13"
                         ActionType="CopyData"
                         DestinationFilePath=""
                         DestinationFileSource="A13_rvt_global.dat"
                         FileHeader=""
                         FileFooter=""
                         GroupSpace="0"
                         WriteStart=""
                         WriteStop="ENDDAT"
                         DetectDuplicates="true"
          >
             <DataFilterGroupsArray>
               <DataFilterGroup GroupHeader=""
                                GroupFooter=""
                                SpaceBeforGroup="0"
                                SpaceAfterGroup="1"
                                OnlyRegex="true"
                                 >
                 <Filter RegexContain="[a-zA-Z]+[a-zA-Z0-9_]*[\[0-9\],]*=\{*.+\}*"
                         RegexNotContain="">
                 </Filter>
               </DataFilterGroup>
             </DataFilterGroupsArray>
           </DataOperation>
           <DataOperation FileOperationName="Copy global data to GlobalBase"
                        Priority="15"
                        ActionType="CopyData"
                        DestinationFilePath=""
                        DestinationFileSource="A15_ljt_global.dat"
                        FileHeader=""
                        FileFooter=""
                        GroupSpace="0"
                        WriteStart=""
                        WriteStop="ENDDAT"
                        DetectDuplicates="true"
          >
             <DataFilterGroupsArray>
               <DataFilterGroup GroupHeader=""
                                GroupFooter=""
                                SpaceBeforGroup="0"
                                SpaceAfterGroup="1"
                                OnlyRegex="true"
                                 >
                 <Filter RegexContain="[a-zA-Z]+[a-zA-Z0-9_]*[\[0-9\],]*=\{*.+\}*"
                         RegexNotContain="">
                 </Filter>
               </DataFilterGroup>
             </DataFilterGroupsArray>
           </DataOperation>
           <DataOperation FileOperationName="Copy global data to GlobalBase"
                        Priority="18"
                        ActionType="CopyData"
                        DestinationFilePath=""
                        DestinationFileSource="A18_rvo_global.dat"
                        FileHeader=""
                        FileFooter=""
                        GroupSpace="0"
                        WriteStart=""
                        WriteStop="ENDDAT"
                        DetectDuplicates="true"
          >
             <DataFilterGroupsArray>
               <DataFilterGroup GroupHeader=""
                                GroupFooter=""
                                SpaceBeforGroup="0"
                                SpaceAfterGroup="1"
                                OnlyRegex="true"
                                 >
                 <Filter RegexContain="[a-zA-Z]+[a-zA-Z0-9_]*[\[0-9\],]*=\{*.+\}*"
                         RegexNotContain="">
                 </Filter>
               </DataFilterGroup>
             </DataFilterGroupsArray>
           </DataOperation>
           <DataOperation FileOperationName="Copy global data to GlobalBase"
                        Priority="19"
                        ActionType="CopyData"
                        DestinationFilePath=""
                        DestinationFileSource="A19_cli_global.dat"
                        FileHeader=""
                        FileFooter=""
                        GroupSpace="0"
                        WriteStart=""
                        WriteStop="ENDDAT"
                        DetectDuplicates="true"
          >
             <DataFilterGroupsArray>
               <DataFilterGroup GroupHeader=""
                                GroupFooter=""
                                SpaceBeforGroup="0"
                                SpaceAfterGroup="1"
                                OnlyRegex="true"
                                 >
                 <Filter RegexContain="[a-zA-Z]+[a-zA-Z0-9_]*[\[0-9\],]*=\{*.+\}*"
                         RegexNotContain="">
                 </Filter>
               </DataFilterGroup>
             </DataFilterGroupsArray>
           </DataOperation>
           <DataOperation FileOperationName="Copy global data to GlobalBase"
                         Priority="20"
                         ActionType="CopyData"
                         DestinationFilePath=""
                         DestinationFileSource="A20_swh_global.dat"
                         FileHeader=""
                         FileFooter=""
                         GroupSpace="0"
                         WriteStart=""
                         WriteStop="ENDDAT"
                         DetectDuplicates="true"
          >
             <DataFilterGroupsArray>
               <DataFilterGroup GroupHeader=""
                                GroupFooter=""
                                SpaceBeforGroup="0"
                                SpaceAfterGroup="1"
                                OnlyRegex="true"
                                 >
                 <Filter RegexContain="[a-zA-Z]+[a-zA-Z0-9_]*[\[0-9\],]*=\{*.+\}*"
                         RegexNotContain="">
                 </Filter>
               </DataFilterGroup>
             </DataFilterGroupsArray>
           </DataOperation>
           <DataOperation FileOperationName="Copy global data to GlobalBase"
                        Priority="22"
                        ActionType="CopyData"
                        DestinationFilePath=""
                        DestinationFileSource="A22_fls_global.dat"
                        FileHeader=""
                        FileFooter=""
                        GroupSpace="0"
                        WriteStart=""
                        WriteStop="ENDDAT"
                        DetectDuplicates="true"
          >
             <DataFilterGroupsArray>
               <DataFilterGroup GroupHeader=""
                                GroupFooter=""
                                SpaceBeforGroup="0"
                                SpaceAfterGroup="1"
                                OnlyRegex="true"
                                 >
                 <Filter RegexContain="[a-zA-Z]+[a-zA-Z0-9_]*[\[0-9\],]*=\{*.+\}*"
                         RegexNotContain="">
                 </Filter>
               </DataFilterGroup>
             </DataFilterGroupsArray>
           </DataOperation>
           <DataOperation FileOperationName="Copy global data to GlobalBase"
                       Priority="27"
                       ActionType="CopyData"
                       DestinationFilePath=""
                       DestinationFileSource="A27_brt_global.dat"
                       FileHeader=""
                       FileFooter=""
                       GroupSpace="0"
                       WriteStart=""
                       WriteStop="ENDDAT"
                       DetectDuplicates="true"
          >
             <DataFilterGroupsArray>
               <DataFilterGroup GroupHeader=""
                                GroupFooter=""
                                SpaceBeforGroup="0"
                                SpaceAfterGroup="1"
                                OnlyRegex="true"
                                 >
                 <Filter RegexContain="[a-zA-Z]+[a-zA-Z0-9_]*[\[0-9\],]*=\{*.+\}*"
                         RegexNotContain="">
                 </Filter>
               </DataFilterGroup>
             </DataFilterGroupsArray>
           </DataOperation>
           <DataOperation FileOperationName="Copy global data to GlobalBase"
                       Priority="28"
                       ActionType="CopyData"
                       DestinationFilePath=""
                       DestinationFileSource="A28_screw_global.dat"
                       FileHeader=""
                       FileFooter=""
                       GroupSpace="0"
                       WriteStart=""
                       WriteStop="ENDDAT"
                       DetectDuplicates="true"
          >
             <DataFilterGroupsArray>
               <DataFilterGroup GroupHeader=""
                                GroupFooter=""
                                SpaceBeforGroup="0"
                                SpaceAfterGroup="1"
                                OnlyRegex="true"
                                 >
                 <Filter RegexContain="[a-zA-Z]+[a-zA-Z0-9_]*[\[0-9\],]*=\{*.+\}*"
                         RegexNotContain="">
                 </Filter>
               </DataFilterGroup>
             </DataFilterGroupsArray>
           </DataOperation>
         </DataOperationsArray> 
    </Controler>
  </ContorolersArray>
</ControlersConfiguration>




   

  

