<?xml version="1.0" encoding="utf-8" ?>
<ControlersConfiguration 
xmlns ="RobotFilesEditor"    
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="RobotFilesEditor ConfigurationSchema.xsd"

DestinationPath="C:\Users\ajergas\Documents\"
SourcePath="C:\Users\ajergas\Downloads\KUKA Organizer\Przykładowe pliki do obrobienia\KRC2"
>
  <ContorolersArray>
    <Controler ControlerType="KRC2">
      <FileOperationsArray>
        <FileOperation
              OperationName="Move program files"
              ActionType="Copy"
              DestinationFolder="Program"
              Priority="0"                           
          >
          <Filter RegexContain=""
                  RegexNotContain="^A\d{2}_*\.*">
            <ContainArray>
              <Contain>Spot</Contain>
              <Contain>Stud</Contain>
              <Contain>Glue</Contain>
              <Contain>Pick</Contain>
              <Contain>Drop</Contain>
              <Contain>Center</Contain>
              <Contain>Arc</Contain>
              <Contain>Clinch</Contain>
              <Contain>Flow</Contain>
              <Contain>Rivet</Contain>
              <Contain>Nut</Contain>
              <Contain>Fasten</Contain>
              <Contain>Hem</Contain>
              <Contain>Laser</Contain>
              <Contain>Search</Contain>
              <Contain>Stack</Contain>
              <Contain>Spray</Contain>
              <Contain>Fit</Contain>
              <Contain>Inline</Contain>
              <Contain>Check</Contain>
              <Contain>Stamp</Contain>
              <Contain>Scan</Contain>
              <Contain>Vrtfx</Contain>
            </ContainArray>
            <NotContainArray>
              <NotContain>_global</NotContain>
            </NotContainArray>
          </Filter>
          <FilesExtensionArray>
            <FilesExtension>.src</FilesExtension>
            <FilesExtension>.dat</FilesExtension>
          </FilesExtensionArray>
        </FileOperation>
        <FileOperation
              OperationName="Move services files"
              ActionType="Copy"
              DestinationFolder="BMW_Std_User"
              Priority="0"             
          >
          <Filter RegexContain=""
                  RegexNotContain=""
                  >
            <ContainArray>
              <Contain>Maintenan</Contain>
              <Contain>Dock</Contain>
              <Contain>Braketest</Contain>
              <Contain>Change</Contain>
              <Contain>Dress</Contain>
              <Contain>Tch_Auto</Contain>
            </ContainArray>
            <NotContainArray>
              <NotContain>_global</NotContain>
            </NotContainArray>
          </Filter>
          <FilesExtensionArray>
            <FilesExtension>.src</FilesExtension>
            <FilesExtension>.dat</FilesExtension>
          </FilesExtensionArray>
        </FileOperation>
        <FileOperation
              OperationName="Copy OLP files data"
              ActionType="CopyData"
              DestinationFolder="Olp"
              Priority="0"             
          >          
          <FilesExtensionArray>            
            <FilesExtension>.olp</FilesExtension>
          </FilesExtensionArray>
        </FileOperation>
        
        <FileOperation
              OperationName="Copy global data to GlobalBase"
              ActionType="CopyData"
              DestinationFolder="BMW_Std"
              Priority="2"             
          >
          <Filter RegexContain=""
				          RegexNotContain="">
            <ContainArray>              
              <Contain>_global</Contain>
            </ContainArray>          
          </Filter>
          <FilesExtensionArray>            
            <FilesExtension>.dat</FilesExtension>
          </FilesExtensionArray>
        </FileOperation>
        <FileOperation
             OperationName="Copy global data to GlobalBase"
             ActionType="CopyData"
             DestinationFolder="BMW_Std"
             Priority="4"            
          >
           <Filter RegexContain=""
				  RegexNotContain="">
            <ContainArray>              
              <Contain>_global</Contain>
            </ContainArray>          
          </Filter>
          <FilesExtensionArray>
            <FilesExtension>.dat</FilesExtension>
          </FilesExtensionArray>
        </FileOperation>
        <FileOperation
             OperationName="Copy global data to GlobalBase"
             ActionType="CopyData"
             DestinationFolder="BMW_Std"
             Priority="13"            
          >
           <Filter RegexContain=""
				  RegexNotContain="">
            <ContainArray>              
              <Contain>_global</Contain>
            </ContainArray>          
          </Filter>
          <FilesExtensionArray>
            <FilesExtension>.dat</FilesExtension>
          </FilesExtensionArray>
        </FileOperation>
        <FileOperation
             OperationName="Copy global data to GlobalBase"
             ActionType="CopyData"
             DestinationFolder="BMW_Std"
             Priority="20"           
          >
           <Filter RegexContain=""
				  RegexNotContain="">
            <ContainArray>              
              <Contain>_global</Contain>
            </ContainArray>          
          </Filter>
          <FilesExtensionArray>
            <FilesExtension>.dat</FilesExtension>
          </FilesExtensionArray>
        </FileOperation>      
        <FileOperation
            OperationName="Copy global data to GlobalBase"
            ActionType="CopyData"
            DestinationFolder="BMW_Std"
            Priority="22"          
          >
           <Filter RegexContain=""
				           RegexNotContain="">
            <ContainArray>              
              <Contain>_global</Contain>
            </ContainArray>          
          </Filter>
          <FilesExtensionArray>
            <FilesExtension>.dat</FilesExtension>
          </FilesExtensionArray>
        </FileOperation>
        
        <FileOperation OperationName="XCentrMobDress value cut" 
                       ActionType="CutData" 
                       DestinationFolder="" 
                       Priority="0" >
          <FilesExtensionArray>
            <FilesExtension>.dat</FilesExtension>
          </FilesExtensionArray>           
        </FileOperation>
        
        <FileOperation
              OperationName="Remove LOGs files"
              ActionType="Remove"
              DestinationFolder=""
              Priority="0"             
          >
          <FilesExtensionArray>
            <FilesExtension>.log</FilesExtension>
          </FilesExtensionArray>
        </FileOperation>
      </FileOperationsArray>
        
      <DataOperationsArray>
        <DataOperation
                       FileOperationName="Copy OLP files data"
                       Priority="0"
                       ActionType="CopyData"
                       DestinationFilePath=""
                       DestinationFileSource="InputData.src"
                       FileHeader="DEF InputData()"
                       FileFooter="END"
                       GroupSpace="0"
                       WriteStart=""
                       WriteStop=""
                       SortType="OrderByVariable"
                       DetectDuplicates="true"
		        >
          <DataFilterGroupsArray>
            <DataFilterGroup GroupHeader=":HOMES"
                             GroupFooter=""
                             SpaceBeforGroup="0"
                             SpaceAfterGroup="1"
                             OnlyRegex="true"
                                 >
              <Filter RegexContain="[a-zA-Z]+[a-zA-Z0-9_]*[\[0-9\],]*=\{*.+\}*"
                      RegexNotContain="">
                <ContainArray>
                  <Contain>XHOME</Contain>
                </ContainArray>
              </Filter>
            </DataFilterGroup>
            <DataFilterGroup GroupHeader=":TOOLS"
                             GroupFooter=""
                             SpaceBeforGroup="0"
                             SpaceAfterGroup="0"
                                 >
              <Filter RegexContain=""
                      RegexNotContain="">
                <ContainArray>
                  <Contain>TOOL_DATA</Contain>
                  <Contain>TOOL_NAME</Contain>
                  <Contain>TOOL_TYPE</Contain>
                </ContainArray>              
              </Filter>
            </DataFilterGroup>
            <DataFilterGroup GroupHeader=":BASES"
                             GroupFooter=""
                             SpaceBeforGroup="0"
                             SpaceAfterGroup="0"
                                 >
              <Filter RegexContain=""
                      RegexNotContain="">
                <ContainArray>
                  <Contain>BASE_DATA</Contain>
                  <Contain>BASE_NAME</Contain>
                  <Contain>BASE_TYPE</Contain>
                </ContainArray>              
              </Filter>
            </DataFilterGroup>
          </DataFilterGroupsArray>
        </DataOperation>
        <DataOperation FileOperationName="Copy global data to GlobalBase"
                       Priority="2"
                       ActionType="CopyData"
                       DestinationFilePath=""
                       DestinationFileSource="Resources\GlobalFiles\KRC2\A02_tch_global.dat"
                       FileHeader=""
                       FileFooter=""
                       GroupSpace="0"
                       WriteStart=""
                       WriteStop="ENDDAT"   
                       DetectDuplicates="true"
          >
          <DataFilterGroupsArray>
            <DataFilterGroup GroupHeader=""
                             GroupFooter=""
                             SpaceBeforGroup="0"
                             SpaceAfterGroup="1"
                                 >
              <Filter RegexContain="[a-zA-Z]+[a-zA-Z0-9_]*[\[0-9\],]*=\{*.+\}*"
                      RegexNotContain="^;"> 
                <ContainArray>                  
			            <Contain>Before_Dock</Contain>
                  <Contain>After_Dock</Contain>
                  <Contain>After_Undock</Contain>
                  <Contain>Before_Dock</Contain>
                  <Contain>Tch</Contain>
                </ContainArray>
              </Filter>
            </DataFilterGroup>
          </DataFilterGroupsArray>          
        </DataOperation>
        <DataOperation FileOperationName="Copy global data to GlobalBase"
                       Priority="4"
                       ActionType="CopyData"
                       DestinationFilePath=""
                       DestinationFileSource="Resources\GlobalFiles\KRC2\A04_swp_global.dat"
                       FileHeader=""
                       FileFooter=""
                       GroupSpace="0"
                       WriteStart=""
                       WriteStop="ENDDAT"
                       DetectDuplicates="true"
          >
          <DataFilterGroupsArray>
            <DataFilterGroup GroupHeader=""
                             GroupFooter=""
                             SpaceBeforGroup="0"
                             SpaceAfterGroup="1"
                                 >
              <Filter RegexContain="[a-zA-Z]+[a-zA-Z0-9_]*[\[0-9\],]*=\{*.+\}*"
                      RegexNotContain="^;">
                 <ContainArray>                  
			            <Contain>LSP</Contain>
                  <Contain>swp</Contain>
                </ContainArray>              
              </Filter>
            </DataFilterGroup>
          </DataFilterGroupsArray>
        </DataOperation>
        <DataOperation FileOperationName="Copy global data to GlobalBase"
                      Priority="13"
                      ActionType="CopyData"
                      DestinationFilePath=""
                      DestinationFileSource="Resources\GlobalFiles\KRC2\A13_rvt_global.dat"
                      FileHeader=""
                      FileFooter=""
                      GroupSpace="0"
                      WriteStart=""
                      WriteStop="ENDDAT"
                      DetectDuplicates="true"
          >
          <DataFilterGroupsArray>
            <DataFilterGroup GroupHeader=""
                             GroupFooter=""
                             SpaceBeforGroup="0"
                             SpaceAfterGroup="1"
                                 >
              <Filter RegexContain="[a-zA-Z]+[a-zA-Z0-9_]*[\[0-9\],]*=\{*.+\}*"
                      RegexNotContain="^;">
                <ContainArray>                  
			            <Contain>rvt</Contain>
                  <Contain>LST</Contain>
                </ContainArray>              
              </Filter>
            </DataFilterGroup>
          </DataFilterGroupsArray>
        </DataOperation>
        <DataOperation FileOperationName="Copy global data to GlobalBase"
                      Priority="20"
                      ActionType="CopyData"
                      DestinationFilePath=""
                      DestinationFileSource="Resources\GlobalFiles\KRC2\A20_swh_global.dat"
                      FileHeader=""
                      FileFooter=""
                      GroupSpace="0"
                      WriteStart=""
                      WriteStop="ENDDAT"
                      DetectDuplicates="true"
          >
          <DataFilterGroupsArray>
            <DataFilterGroup GroupHeader=""
                             GroupFooter=""
                             SpaceBeforGroup="0"
                             SpaceAfterGroup="1"
                                 >
              <Filter RegexContain="[a-zA-Z]+[a-zA-Z0-9_]*[\[0-9\],]*=\{*.+\}*"
                      RegexNotContain="^;">     
                <ContainArray>   
                  <Contain>swh</Contain>
                </ContainArray>             
              </Filter>
            </DataFilterGroup>
          </DataFilterGroupsArray>
        </DataOperation>
        <DataOperation FileOperationName="Copy global data to GlobalBase"
                     Priority="22"
                     ActionType="CopyData"
                     DestinationFilePath=""
                     DestinationFileSource="Resources\GlobalFiles\KRC2\A22_fls_global.dat"
                     FileHeader=""
                     FileFooter=""
                     GroupSpace="0"
                     WriteStart=""
                     WriteStop="ENDDAT"  
                     DetectDuplicates="true"
          >
          <DataFilterGroupsArray>
            <DataFilterGroup GroupHeader=""
                             GroupFooter=""
                             SpaceBeforGroup="0"
                             SpaceAfterGroup="1"
                                 >
              <Filter RegexContain="[a-zA-Z]+[a-zA-Z0-9_]*[\[0-9\],]*=\{*.+\}*"
                      RegexNotContain="^;">
                <ContainArray>
                  <Contain>fls</Contain>
                </ContainArray>
              </Filter>
            </DataFilterGroup>
          </DataFilterGroupsArray>
        </DataOperation>

        <DataOperation FileOperationName="XCentrMobDress value cut"
                           ActionType="CutData"
                           Priority="0"
                           DestinationFileSource="Resources\GlobalFiles\KRC2\A04_swp_global.dat"
                           DetectDuplicates="true"
                           WriteStop="ENDDAT">
          <DataFilterGroupsArray>
            <DataFilterGroup OnlyRegex="true">
              <Filter RegexContain="[a-zA-Z]+[a-zA-Z0-9_]*[\[0-9\],]*=\{*.+\}*"
                      RegexNotContain="">
                <ContainArray>
                  <Contain>XCentrMobDress</Contain>
                </ContainArray>
              </Filter>
            </DataFilterGroup>
          </DataFilterGroupsArray>
        </DataOperation>
      </DataOperationsArray>               
    </Controler>
    <Controler ControlerType="KRC4"> 
        <FileOperationsArray>      
          <FileOperation
                OperationName="Move program files"
                ActionType="Copy"
                DestinationFolder="BMW_Program"
                Priority="0"               
            >
            <Filter RegexContain=""
                    RegexNotContain="^A\d{2}_*\.*">
              <ContainArray>
                <Contain>Spot</Contain>
                <Contain>Stud</Contain>
                <Contain>Glue</Contain>
                <Contain>Pick</Contain>
                <Contain>Drop</Contain>
                <Contain>Center</Contain>
                <Contain>Arc</Contain>
                <Contain>Clinch</Contain>
                <Contain>Flow</Contain>
                <Contain>Rivet</Contain>
                <Contain>Nut</Contain>
                <Contain>Fasten</Contain>
                <Contain>Hem</Contain>
                <Contain>Laser</Contain>
                <Contain>Search</Contain>
                <Contain>Stack</Contain>
                <Contain>Spray</Contain>
                <Contain>Fit</Contain>
                <Contain>Inline</Contain>
                <Contain>Check</Contain>
                <Contain>Stamp</Contain>
                <Contain>Scan</Contain>
                <Contain>Vrtfx</Contain>
              </ContainArray>
              <NotContainArray>
                <NotContain>_global</NotContain>
              </NotContainArray>
            </Filter>
            <FilesExtensionArray>
              <FilesExtension>.src</FilesExtension>
              <FilesExtension>.dat</FilesExtension>
            </FilesExtensionArray>
          </FileOperation> 
          
          <FileOperation
                OperationName="Move services files"
                ActionType="Copy"
                DestinationFolder="BMW_Utilities"
                Priority="0"
            >
            <Filter RegexContain=""
                    RegexNotContain="^A[0-9][0-35-9].*(Dock|Tech_auto).*">
              <ContainArray>
                <Contain>Maintenan</Contain>
                <Contain>Dock</Contain>
                <Contain>Braketest</Contain>
                <Contain>Change</Contain>
                <Contain>Dress</Contain>
                <Contain>Tch_Auto</Contain>
              </ContainArray>
              <NotContainArray>
                <NotContain>_global</NotContain>
              </NotContainArray>
            </Filter>
            <FilesExtensionArray>
              <FilesExtension>.src</FilesExtension>
              <FilesExtension>.dat</FilesExtension>
            </FilesExtensionArray>
          </FileOperation>
          <FileOperation
                OperationName="Move services files"
                ActionType="Move"
                DestinationFolder="BMW_Utilities\Docking"
                Priority="1"
            >
            <Filter RegexContain="^A\d{2}.*(Dock|Tech_auto).*"
                    RegexNotContain="^A04.*">
              <ContainArray>
                <Contain>Dock</Contain>
                <Contain>Tch_Auto</Contain>
              </ContainArray>
              <NotContainArray>
                <NotContain>_global</NotContain>
              </NotContainArray>
            </Filter>
            <FilesExtensionArray>
              <FilesExtension>.src</FilesExtension>
              <FilesExtension>.dat</FilesExtension>
            </FilesExtensionArray>
          </FileOperation> 
          
          <FileOperation
                OperationName="Copy OLP files data"
                ActionType="CopyData"
                DestinationFolder="Olp"
                Priority="0"              
            >
            <FilesExtensionArray>
              <FilesExtension>.olp</FilesExtension>             
            </FilesExtensionArray>
          </FileOperation>
          
          <FileOperation
              OperationName="Copy global data to GlobalBase"
              ActionType="CopyData"
              DestinationFolder="BMW_App"
              Priority="2"             
          >           
            <Filter RegexContain=""
				    RegexNotContain="">
              <ContainArray>              
                <Contain>_global</Contain>
              </ContainArray>          
            </Filter>
            <FilesExtensionArray>
              <FilesExtension>.dat</FilesExtension>
            </FilesExtensionArray>
          </FileOperation>          
          <FileOperation
               OperationName="Copy global data to GlobalBase"
               ActionType="CopyData"
               DestinationFolder="BMW_App"
               Priority="4"              
          >
             <Filter RegexContain=""
				             RegexNotContain="">
              <ContainArray>              
                <Contain>_global</Contain>
              </ContainArray>          
            </Filter>
            <FilesExtensionArray>
              <FilesExtension>.dat</FilesExtension>
            </FilesExtensionArray>
          </FileOperation>          
          <FileOperation
               OperationName="Copy global data to GlobalBase"
               ActionType="CopyData"
               DestinationFolder="BMW_App"
               Priority="13"              
          >
            <Filter RegexContain=""
				             RegexNotContain="">
              <ContainArray>              
                <Contain>_global</Contain>
              </ContainArray>          
            </Filter>
            <FilesExtensionArray>
              <FilesExtension>.dat</FilesExtension>
            </FilesExtensionArray>
          </FileOperation>          
          <FileOperation
               OperationName="Copy global data to GlobalBase"
               ActionType="CopyData"
               DestinationFolder="BMW_App"
               Priority="18"              
          >
            <Filter RegexContain=""
				             RegexNotContain="">
              <ContainArray>              
                <Contain>_global</Contain>
              </ContainArray>          
            </Filter>
            <FilesExtensionArray>
              <FilesExtension>.dat</FilesExtension>
            </FilesExtensionArray>
          </FileOperation>                    
          <FileOperation
               OperationName="Copy global data to GlobalBase"
               ActionType="CopyData"
               DestinationFolder="BMW_App"
               Priority="20"              
          >
            <Filter RegexContain=""
				             RegexNotContain="">
              <ContainArray>              
                <Contain>_global</Contain>
              </ContainArray>          
            </Filter>
            <FilesExtensionArray>
              <FilesExtension>.dat</FilesExtension>
            </FilesExtensionArray>
          </FileOperation>
          <FileOperation
              OperationName="Copy global data to GlobalBase"
              ActionType="CopyData"
              DestinationFolder="BMW_App"
              Priority="22"             
          >
            <Filter RegexContain=""
				             RegexNotContain="">
              <ContainArray>              
                <Contain>_global</Contain>
              </ContainArray>          
            </Filter>
            <FilesExtensionArray>
              <FilesExtension>.dat</FilesExtension>
            </FilesExtensionArray>
          </FileOperation>
          <FileOperation
             OperationName="Copy global data to GlobalBase"
             ActionType="CopyData"
             DestinationFolder="BMW_App"
             Priority="27"            
          >
            <Filter RegexContain=""
				             RegexNotContain="">
              <ContainArray>              
                <Contain>_global</Contain>
              </ContainArray>          
            </Filter>
            <FilesExtensionArray>
              <FilesExtension>.dat</FilesExtension>
            </FilesExtensionArray>
          </FileOperation>
          <FileOperation
         OperationName="Copy global data to GlobalBase"
         ActionType="CopyData"
         DestinationFolder="BMW_App"
         Priority="28"        
          >
            <Filter RegexContain=""
				             RegexNotContain="">
              <ContainArray>              
                <Contain>_global</Contain>
              </ContainArray>          
            </Filter>
            <FilesExtensionArray>
              <FilesExtension>.dat</FilesExtension>
            </FilesExtensionArray>
          </FileOperation>

          <FileOperation OperationName="XCentrMobDress value cut"
                 ActionType="CutData"
                 DestinationFolder=""
                 Priority="0" >
            <FilesExtensionArray>
              <FilesExtension>.dat</FilesExtension>
            </FilesExtensionArray>
          </FileOperation>

          <FileOperation
                OperationName="Remove LOGs files"
                ActionType="Remove"
                DestinationFolder=""
                Priority="0"               
            >          
            <FilesExtensionArray>
              <FilesExtension>.log</FilesExtension>
            </FilesExtensionArray>
          </FileOperation>
         </FileOperationsArray>
        
        <DataOperationsArray>
           <DataOperation
           FileOperationName="Copy OLP files data"
           Priority="0"
           ActionType="CopyData"
           DestinationFilePath=""
           DestinationFileSource="InputData.src"
           FileHeader="DEF InputData()"
           FileFooter="END"
           GroupSpace="0"
           WriteStart=""
           WriteStop=""
           SortType="OrderByVariable"
           DetectDuplicates="true"
		        >
             <DataFilterGroupsArray>
               <DataFilterGroup GroupHeader=":HOMES"
                                GroupFooter=""
                                SpaceBeforGroup="0"
                                SpaceAfterGroup="1"
                                OnlyRegex="true"
                                 >
                 <Filter RegexContain="[a-zA-Z]+[a-zA-Z0-9_]*[\[0-9\],]*=\{*.+\}*"
                         RegexNotContain="">
                   <ContainArray>
                     <Contain>XHOME</Contain>
                   </ContainArray>
                 </Filter>
               </DataFilterGroup>
               <DataFilterGroup GroupHeader=":TOOLS"
                                GroupFooter=""
                                SpaceBeforGroup="0"
                                SpaceAfterGroup="0"
                                 >
                 <Filter RegexContain=""
                         RegexNotContain="">
                   <ContainArray>
                     <Contain>TOOL_DATA</Contain>
                     <Contain>TOOL_NAME</Contain>
                     <Contain>TOOL_TYPE</Contain>
                   </ContainArray>
                 </Filter>
               </DataFilterGroup>
               <DataFilterGroup GroupHeader=":BASES"
                                GroupFooter=""
                                SpaceBeforGroup="0"
                                SpaceAfterGroup="0"
                                 >
                 <Filter RegexContain=""
                         RegexNotContain="">
                   <ContainArray>
                     <Contain>BASE_DATA</Contain>
                     <Contain>BASE_NAME</Contain>
                     <Contain>BASE_TYPE</Contain>
                   </ContainArray>
                 </Filter>
               </DataFilterGroup>
             </DataFilterGroupsArray>
           </DataOperation>
           
           <DataOperation FileOperationName="Copy global data to GlobalBase"
                     Priority="2"
                     ActionType="CopyData"
                     DestinationFilePath=""
                     DestinationFileSource="Resources\GlobalFiles\KRC4\A02_tch_global.dat"
                     FileHeader=""
                     FileFooter=""
                     GroupSpace="0"
                     WriteStart=""
                     WriteStop="ENDDAT"
                     DetectDuplicates="true"
          >
             <DataFilterGroupsArray>
               <DataFilterGroup GroupHeader=""
                                GroupFooter=""
                                SpaceBeforGroup="0"
                                SpaceAfterGroup="1"
                                 >
                 <Filter RegexContain="[a-zA-Z]+[a-zA-Z0-9_]*[\[0-9\],]*=\{*.+\}*"
                    RegexNotContain="^;">
                   <ContainArray>                  
			            <Contain>Before_Dock</Contain>
                  <Contain>After_Dock</Contain>
                  <Contain>After_Undock</Contain>
                  <Contain>Before_Dock</Contain>
                  <Contain>Tch</Contain>
                </ContainArray>
                 </Filter>
               </DataFilterGroup>
             </DataFilterGroupsArray>
           </DataOperation>
           <DataOperation FileOperationName="Copy global data to GlobalBase"
                          Priority="4"
                          ActionType="CopyData"
                          DestinationFilePath=""
                          DestinationFileSource="Resources\GlobalFiles\KRC4\A04_swp_global.dat"
                          FileHeader=""
                          FileFooter=""
                          GroupSpace="0"
                          WriteStart=""
                          WriteStop="ENDDAT"
                          DetectDuplicates="true"
          >
             <DataFilterGroupsArray>
               <DataFilterGroup GroupHeader=""
                                GroupFooter=""
                                SpaceBeforGroup="0"
                                SpaceAfterGroup="1"
                                 >
                 <Filter RegexContain="[a-zA-Z]+[a-zA-Z0-9_]*[\[0-9\],]*=\{*.+\}*"
                         RegexNotContain="^;">
                   <ContainArray>                  
			              <Contain>LSP</Contain>
                    <Contain>swp</Contain>
                   </ContainArray>                    
                 </Filter>
               </DataFilterGroup>
             </DataFilterGroupsArray>
           </DataOperation>
           <DataOperation FileOperationName="Copy global data to GlobalBase"
                         Priority="13"
                         ActionType="CopyData"
                         DestinationFilePath=""
                         DestinationFileSource="Resources\GlobalFiles\KRC4\A13_rvt_global.dat"
                         FileHeader=""
                         FileFooter=""
                         GroupSpace="0"
                         WriteStart=""
                         WriteStop="ENDDAT"
                         DetectDuplicates="true"
          >
             <DataFilterGroupsArray>
               <DataFilterGroup GroupHeader=""
                                GroupFooter=""
                                SpaceBeforGroup="0"
                                SpaceAfterGroup="1"
                                 >
                 <Filter RegexContain="[a-zA-Z]+[a-zA-Z0-9_]*[\[0-9\],]*=\{*.+\}*"
                    RegexNotContain="^;">
                   <ContainArray>
                     <Contain>rvt</Contain>
                     <Contain>LST</Contain>
                   </ContainArray>                 
                 </Filter>
               </DataFilterGroup>
             </DataFilterGroupsArray>
           </DataOperation>
           <DataOperation FileOperationName="Copy global data to GlobalBase"
                        Priority="18"
                        ActionType="CopyData"
                        DestinationFilePath=""
                        DestinationFileSource="Resources\GlobalFiles\KRC4\A18_rvo_global.dat"
                        FileHeader=""
                        FileFooter=""
                        GroupSpace="0"
                        WriteStart=""
                        WriteStop="ENDDAT"
                        DetectDuplicates="true"
          >
             <DataFilterGroupsArray>
               <DataFilterGroup GroupHeader=""
                                GroupFooter=""
                                SpaceBeforGroup="0"
                                SpaceAfterGroup="1"
                                 >
                 <Filter RegexContain="[a-zA-Z]+[a-zA-Z0-9_]*[\[0-9\],]*=\{*.+\}*"
                    RegexNotContain="^;">
                   <ContainArray>
                     <Contain>rvo</Contain>
                   </ContainArray>                                  
                 </Filter>
               </DataFilterGroup>
             </DataFilterGroupsArray>
           </DataOperation>
           <DataOperation FileOperationName="Copy global data to GlobalBase"
                         Priority="20"
                         ActionType="CopyData"
                         DestinationFilePath=""
                         DestinationFileSource="Resources\GlobalFiles\KRC4\A20_swh_global.dat"
                         FileHeader=""
                         FileFooter=""
                         GroupSpace="0"
                         WriteStart=""
                         WriteStop="ENDDAT"
                         DetectDuplicates="true"
            >
             <DataFilterGroupsArray>
               <DataFilterGroup GroupHeader=""
                                GroupFooter=""
                                SpaceBeforGroup="0"
                                SpaceAfterGroup="1"
                                 >
                 <Filter RegexContain="[a-zA-Z]+[a-zA-Z0-9_]*[\[0-9\],]*=\{*.+\}*"
                    RegexNotContain="^;">
                   <ContainArray>
                     <Contain>swh</Contain>
                   </ContainArray>                
                 </Filter>
               </DataFilterGroup>
             </DataFilterGroupsArray>
           </DataOperation>
           <DataOperation FileOperationName="Copy global data to GlobalBase"
                        Priority="22"
                        ActionType="CopyData"
                        DestinationFilePath=""
                        DestinationFileSource="Resources\GlobalFiles\KRC4\A22_fls_global.dat"
                        FileHeader=""
                        FileFooter=""
                        GroupSpace="0"
                        WriteStart=""
                        WriteStop="ENDDAT"
                        DetectDuplicates="true"
            >
             <DataFilterGroupsArray>
               <DataFilterGroup GroupHeader=""
                                GroupFooter=""
                                SpaceBeforGroup="0"
                                SpaceAfterGroup="1"
                                 >
                 <Filter RegexContain="[a-zA-Z]+[a-zA-Z0-9_]*[\[0-9\],]*=\{*.+\}*"
                      RegexNotContain="^;">
                   <ContainArray>
                     <Contain>swr</Contain>
                   </ContainArray>                    
                 </Filter>
               </DataFilterGroup>
             </DataFilterGroupsArray>
           </DataOperation>
           <DataOperation FileOperationName="Copy global data to GlobalBase"
                       Priority="27"
                       ActionType="CopyData"
                       DestinationFilePath=""
                       DestinationFileSource="Resources\GlobalFiles\KRC4\A27_brt_global.dat"
                       FileHeader=""
                       FileFooter=""
                       GroupSpace="0"
                       WriteStart=""
                       WriteStop="ENDDAT"
                       DetectDuplicates="true"
          >
             <DataFilterGroupsArray>
               <DataFilterGroup GroupHeader=""
                                GroupFooter=""
                                SpaceBeforGroup="0"
                                SpaceAfterGroup="1"
                                 >
                 <Filter RegexContain="[a-zA-Z]+[a-zA-Z0-9_]*[\[0-9\],]*=\{*.+\}*"
                    RegexNotContain="^;">
                   <ContainArray>
                     <Contain>brt</Contain>
                   </ContainArray>               
                 </Filter>
               </DataFilterGroup>
             </DataFilterGroupsArray>
           </DataOperation>
           <DataOperation FileOperationName="Copy global data to GlobalBase"
                       Priority="28"
                       ActionType="CopyData"
                       DestinationFilePath=""
                       DestinationFileSource="Resources\GlobalFiles\KRC4\A28_screw_global.dat"
                       FileHeader=""
                       FileFooter=""
                       GroupSpace="0"
                       WriteStart=""
                       WriteStop="ENDDAT"
                       DetectDuplicates="true"
          >
             <DataFilterGroupsArray>
               <DataFilterGroup GroupHeader=""
                                GroupFooter=""
                                SpaceBeforGroup="0"
                                SpaceAfterGroup="1"
                                 >
                 <Filter RegexContain="[a-zA-Z]+[a-zA-Z0-9_]*[\[0-9\],]*=\{*.+\}*"
                    RegexNotContain="^;">
                   <ContainArray>
                     <Contain>scr</Contain>
                   </ContainArray>
                 </Filter>
               </DataFilterGroup>
             </DataFilterGroupsArray>
           </DataOperation>

          <DataOperation FileOperationName="XCentrMobDress value cut" 
                         ActionType="CutData"
                         Priority="0" 
                         DestinationFileSource="Resources\GlobalFiles\KRC2\A04_swp_global.dat"
                         DetectDuplicates="true"
                         WriteStop="ENDDAT">
            <DataFilterGroupsArray>
              <DataFilterGroup OnlyRegex="true">
                <Filter RegexContain="[a-zA-Z]+[a-zA-Z0-9_]*[\[0-9\],]*=\{*.+\}*"
                        RegexNotContain="">
                  <ContainArray>
                    <Contain>XCentrMobDress</Contain>
                  </ContainArray>
                </Filter>
              </DataFilterGroup>
            </DataFilterGroupsArray>  
          </DataOperation>
        </DataOperationsArray> 
    </Controler>
  </ContorolersArray>
</ControlersConfiguration>




   

  

